Makefile
.vscode/
liveMedia/*.o

.DS_Store
*/.DS_Store

BasicUsageEnvironment/*.a
UsageEnvironment/*.a
groupsock/*.a
hlsProxy/*.a
mediaServer/*.a
proxyServer/*.a
liveMedia/*.a

BasicUsageEnvironment/*.o
UsageEnvironment/*.o
groupsock/*.o
hlsProxy/*.o
mediaServer/*.o
proxyServer/*.o
liveMedia/*.o
testProgs/*
